# Red Neuronal para Predecir lluvias

## Paquetes que usaremos

In [75]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

## Importamos los datos y mostramos las primeras 5 filas

In [76]:
dt=pd.read_csv("weatherAUS.csv")
dt.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

## Tamaño del DataFrame

In [77]:
dt.shape

(142193, 24)

## Mostramos un resumen estadístico básico
* count: Muestra la cantidad de elementos 
* mean: Media 
* std: desviación estándar
* min: valor mínimo
* 25: percentil del 25%
* 50: percentil del 50%
* 75: percentil del 75%
* max: valor máximo

In [78]:
dt.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,5.469824,7.624853,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,2.360682
std,6.403283,7.117618,8.465173,4.188537,3.781525,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,371.000000

#### Se observan muchos valores faltantes (NaN)

## En los valores faltantes, ingresamos la media.

In [79]:
dt["Evaporation"]=dt["Evaporation"].fillna(dt["Evaporation"].mean())
dt["MaxTemp"]=dt["MaxTemp"].fillna(dt["MaxTemp"].mean())
dt["MinTemp"]=dt["MinTemp"].fillna(dt["MinTemp"].mean())
dt["Rainfall"]=dt["Rainfall"].fillna(dt["Rainfall"].mean())
dt["Sunshine"]=dt["Sunshine"].fillna(dt["Sunshine"].mean())
dt["WindGustSpeed"]=dt["WindGustSpeed"].fillna(dt["WindGustSpeed"].mean())
dt["WindSpeed9am"]=dt["WindSpeed9am"].fillna(dt["WindSpeed9am"].mean())
dt["WindSpeed3pm"]=dt["WindSpeed3pm"].fillna(dt["WindSpeed3pm"].mean())
dt["Pressure9am"]=dt["Pressure9am"].fillna(dt["Pressure9am"].mean())
dt["Pressure3pm"]=dt["Pressure3pm"].fillna(dt["Pressure3pm"].mean())
dt["Cloud9am"]=dt["Cloud9am"].fillna(dt["Cloud9am"].mean())
dt["Cloud3pm"]=dt["Cloud3pm"].fillna(dt["Cloud3pm"].mean())
dt["Temp9am"]=dt["Temp9am"].fillna(dt["Temp9am"].mean())
dt["Temp3pm"]=dt["Temp3pm"].fillna(dt["Temp3pm"].mean())

## Cambiamos el valor de Date por numeración, para luego graficar.

In [80]:
dt["Date"]=[i for i in range(142193)]

## Creamos la lista Y donde "si" es lluvia, indicamos 1, sino, 0.

In [109]:
Y=[]
for i in dt["RainTomorrow"]:
    if i=="No":
        Y.append(0)
    else:
        Y.append(1)

Y=Y[:20000] ## tomamos los primeros 20.000 
Y[0:20]

[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0]

## Definición de funciones para hacer gráficas interactivas

In [82]:
def plot2d(n):
    

    plt.figure(figsize=(16,9))
    plt.scatter(dt["Date"][:n],Y[:n], marker="x")
    plt.title("Primeros "+str(n)+" Dias de lluvia:" )
    plt.xlabel("Días")
    plt.ylabel("Lluvia:1 | No Lluvia:0")

### n es la cantidad de días

In [83]:
from ipywidgets import interact
interact(plot2d,n=[10,20,30,40,50,100,150,200,250,300,450,500])

interactive(children=(Dropdown(description='n', options=(10, 20, 30, 40, 50, 100, 150, 200, 250, 300, 450, 500…

## Importamos paquetes para análisis de los componentes principales

In [84]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA as sk_pca

## Nombramos de la variable X, los componentes del dataframes a estudiar

In [105]:
X=dt.iloc[:20000][["MaxTemp","MinTemp","Rainfall","Sunshine","WindGustSpeed","WindSpeed9am","WindSpeed3pm","Pressure9am","Pressure3pm","Cloud9am","Cloud3pm","Temp9am","Temp3pm"]]

## Escalamos

In [106]:
X_std = StandardScaler().fit_transform(X)

## Tomamos 10 componentes (de 14 posibles) y nombramos Z el array con la información de esos componentes

In [107]:
acp = sk_pca(n_components=10)
Z = acp.fit_transform(X_std)

## Dimensiones del array Z

In [108]:
Z.shape

(40000, 10)

In [110]:
Y=np.array(Y)
len(Y)

40000

## tomamos de Z y Y, muestras aleatorias con 20% test y 80% para train

In [111]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Z, Y, test_size=0.20, random_state=42)

## Importamos el paquete para escalar:
* La escala convierte los posibles valores de Y (1 y 0) por un vector de la siguiente manera:
* *  Si es 0 lo convierte en el vector (1,0) y si es 1 lo convierte en el vector (0,1)

In [112]:
from keras.utils import to_categorical
y_train = to_categorical(y_train, num_classes=2)
y_test= to_categorical(y_test, num_classes=2)

In [113]:
y_train[:10]

array([[ 1.,  0.],
       [ 0.,  1.],
       [ 1.,  0.],
       [ 0.,  1.],
       [ 1.,  0.],
       [ 1.,  0.],
       [ 0.,  1.],
       [ 1.,  0.],
       [ 1.,  0.],
       [ 1.,  0.]])

## Importamos el paquete para la red neuronal y creamos un modelo secuencial

In [114]:
from keras.models import Sequential
model = Sequential()

## Importamos la librerías para agregar capas y activar funciones.
* Se crea una capa con 10 entradas (igual número que las componentes principales que definimos), una capa profunda de 32 neuronas con función de activacion sigmoid
* Se crea otra capa de 10 neuronas con función de activación sigmoid
* se crea la última capa de 2 neuronas (igual cantidad que la salida escalada) con función de activación softmax

In [115]:
from keras.layers.core import Dense, Activation


model.add(Dense(32, activation='sigmoid', input_shape=(10,)))

model.add(Dense(10, activation='sigmoid'))
model.add(Dense(2, activation='softmax'))

## Mostramos un pequeño resumen del modelo, mostrando los parametros en cada capa

In [116]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_10 (Dense)             (None, 32)                352
_________________________________________________________________
dense_11 (Dense)             (None, 10)                330
_________________________________________________________________
dense_12 (Dense)             (None, 2)                 22
=================================================================
Total params: 704
Trainable params: 704
Non-trainable params: 0
_________________________________________________________________

## Compilamos el modelo con la función mean squared error para el parámetro loss,  optimizer adagrad y metrics accuracy

In [117]:
model.compile(loss="mse",
optimizer="adagrad",
metrics = ['accuracy'])

## Entrenamos el modelo en 10 epochs

In [118]:
model.fit(X_train, y_train, epochs=10)

Epoch 1/10
32000/32000 [==============================] - 2s 59us/step - loss: 0.1414 - acc: 0.8013
Epoch 2/10
32000/32000 [==============================] - 2s 56us/step - loss: 0.1296 - acc: 0.8172
Epoch 3/10
32000/32000 [==============================] - 2s 56us/step - loss: 0.1288 - acc: 0.8185
Epoch 4/10
32000/32000 [==============================] - 2s 55us/step - loss: 0.1285 - acc: 0.8184
Epoch 5/10
32000/32000 [==============================] - 2s 66us/step - loss: 0.1284 - acc: 0.8184
Epoch 6/10
32000/32000 [==============================] - 2s 58us/step - loss: 0.1283 - acc: 0.8187
Epoch 7/10
32000/32000 [==============================] - 2s 57us/step - loss: 0.1282 - acc: 0.8186
Epoch 8/10
32000/32000 [==============================] - 2s 57us/step - loss: 0.1282 - acc: 0.8193
Epoch 9/10
32000/32000 [==============================] - 2s 58us/step - loss: 0.1281 - acc: 0.8194
Epoch 10/10
32000/32000 [==============================] - 2s 55us/step - loss: 0.1281 - acc: 0.8196

## Evaluamos el modelo

In [119]:
test_loss, test_acc = model.evaluate(X_test, y_test)

8000/8000 [==============================] - 0s 40us/step

## Mostramos el porcentaje de acierto

In [120]:
print('el porcentaje de acierto es:', test_acc*100)

el porcentaje de acierto es: 81.65

## Hacemos la predicción

In [102]:
predictions = model.predict(X_test)

## Mostramos la salida ( cada entrada muestra el porcentaje de que sea ese valor, la suma de las entradas es 1)

In [103]:
print(predictions[205] )

[ 0.72207379  0.27792618]

In [104]:
np.sum(predictions[200])

1.0

## Indicamos la predicción del valor 205

In [46]:
print(predictions[205].argmax())

0

## imprime 0 que indica no lluvia

## Mostramos el valor que tiene la entrada 205

In [47]:
y_test[205]

array([ 1.,  0.])

## El 1 en la primera componente nos indica no lluvia, como se predijo